.izlog {
  width: 100%;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7.5vh;
}
.izlog h1 {
  text-align: center;
  font-size: var(--font-size-Xlarge);
  position: relative;
  margin-block: 10vh 2vh;
}
.izlog h1::after {
  position: absolute;
  top: 92.5%;
  content: "";
  height: 2px;
  width: 62.5%;
  left: 0;
  background-color: var(--primary-color);
}
.izlog h1::before {
  position: absolute;
  bottom: 92.5%;
  content: "";
  height: 2px;
  width: 62.5%;
  right: 0;
  background-color: var(--primary-color);
}
.grid {
  margin-inline: auto;
  display: grid !important;
  width: 90%;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.grid .card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.grid .card .naslov {
  margin: 1rem;
  text-align: center;
}
.grid .card > .slika {
  display: grid;
  grid-template-columns: 100% 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  transition: 0.5s;
  scrollbar-width: 0;
}
/* .grid .card > .slika  input{

} */
/* .grid .card > .slika:hover {
  transform: translateX(-100%);
} */
/* .grid .card > .slika:hover {
  transform: translateX(-50%);
} */
.grid .card .naslov h2 {
  font-size: var(--font-size-mid);
  font-weight: 400;
}
.grid .card .image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 !important;
}
.grid .card .image .detalji {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.grid .card .notImage {
  display: grid;
  grid-template-columns: 100% 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
}
.grid .card .notImage:hover {
  transform: translateX(-100%);
}
.grid .card .notImage .left {
  width: 100%;
  height: 100%;
}
.grid .card .notImage .right {
  background-color: var(--third-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.grid .card .notImage .right .slika {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 100px;
}
.grid .card .notImage .right .slika img {
  object-fit: contain;
  filter: contrast(0.85);
  object-position: center !important;
}
.grid .card .detalji .boje {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.grid .card .detalji .boje > div {
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 150px;
  background-color: var(--primary-color);
}
.grid .card .cena {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid .card .cena span {
  font-size: var(--font-size-mid);
}
.grid .card .cena span::after {
  content: "RSD";
  color: var(--font-color-secondary);
  font-size: var(--font-size-mid);
  margin-left: 0.5rem;
}
